payments/pain.001.001.03.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Antero Mäenpää (XMLdation.com Oy) -->
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2009 Jan 08 17:30:53-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element type="Document" name="Document"/>
<xs:complexType name="AccountIdentification4Choice">
<xs:sequence>
<xs:choice>
<xs:element type="IBAN2007Identifier" name="IBAN"/>
<xs:element type="GenericAccountIdentification1" name="Othr"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AccountSchemeName1Choice">
<xs:sequence>
<xs:choice>
<xs:element type="ExternalAccountIdentification1Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
<xs:attribute type="ActiveOrHistoricCurrencyCode" name="Ccy" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="ActiveOrHistoricCurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AddressType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="ADDR"/>
<xs:enumeration value="PBOX"/>
<xs:enumeration value="HOME"/>
<xs:enumeration value="BIZZ"/>
<xs:enumeration value="MLTO"/>
<xs:enumeration value="DLVY"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="AmountType3Choice">
<xs:sequence>
<xs:choice>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="InstdAmt"/>
<xs:element type="EquivalentAmount2" name="EqvtAmt"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Authorisation1Choice">
<xs:sequence>
<xs:choice>
<xs:element type="Authorisation1Code" name="Cd"/>
<xs:element type="Max128Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Authorisation1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="AUTH"/>
<xs:enumeration value="FDET"/>
<xs:enumeration value="FSUM"/>
<xs:enumeration value="ILEV"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BaseOneRate">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="10"/>
<xs:totalDigits value="11"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BatchBookingIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
<xs:sequence>
<xs:element type="FinancialInstitutionIdentification7" name="FinInstnId"/>
<xs:element type="BranchData2" name="BrnchId" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BranchData2">
<xs:sequence>
<xs:element type="Max35Text" name="Id" minOccurs="0"/>
<xs:element type="Max140Text" name="Nm" minOccurs="0"/>
<xs:element type="PostalAddress6" name="PstlAdr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CashAccount16">
<xs:sequence>
<xs:element type="AccountIdentification4Choice" name="Id"/>
<xs:element type="CashAccountType2" name="Tp" minOccurs="0"/>
<xs:element type="ActiveOrHistoricCurrencyCode" name="Ccy" minOccurs="0"/>
<xs:element type="Max70Text" name="Nm" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CashAccountType2">
<xs:sequence>
<xs:choice>
<xs:element type="CashAccountType4Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CashAccountType4Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CASH"/>
<xs:enumeration value="CHAR"/>
<xs:enumeration value="COMM"/>
<xs:enumeration value="TAXE"/>
<xs:enumeration value="CISH"/>
<xs:enumeration value="TRAS"/>
<xs:enumeration value="SACC"/>
<xs:enumeration value="CACC"/>
<xs:enumeration value="SVGS"/>
<xs:enumeration value="ONDP"/>
<xs:enumeration value="MGLD"/>
<xs:enumeration value="NREX"/>
<xs:enumeration value="MOMA"/>
<xs:enumeration value="LOAN"/>
<xs:enumeration value="SLRY"/>
<xs:enumeration value="ODFT"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CategoryPurpose1Choice">
<xs:sequence>
<xs:choice>
<xs:element type="ExternalCategoryPurpose1Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ChargeBearerType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DEBT"/>
<xs:enumeration value="CRED"/>
<xs:enumeration value="SHAR"/>
<xs:enumeration value="SLEV"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Cheque6">
<xs:sequence>
<xs:element type="ChequeType2Code" name="ChqTp" minOccurs="0"/>
<xs:element type="Max35Text" name="ChqNb" minOccurs="0"/>
<xs:element type="NameAndAddress10" name="ChqFr" minOccurs="0"/>
<xs:element type="ChequeDeliveryMethod1Choice" name="DlvryMtd" minOccurs="0"/>
<xs:element type="NameAndAddress10" name="DlvrTo" minOccurs="0"/>
<xs:element type="Priority2Code" name="InstrPrty" minOccurs="0"/>
<xs:element type="ISODate" name="ChqMtrtyDt" minOccurs="0"/>
<xs:element type="Max35Text" name="FrmsCd" minOccurs="0"/>
<xs:element type="Max35Text" name="MemoFld" minOccurs="0" maxOccurs="2"/>
<xs:element type="Max35Text" name="RgnlClrZone" minOccurs="0"/>
<xs:element type="Max35Text" name="PrtLctn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ChequeDelivery1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="MLDB"/>
<xs:enumeration value="MLCD"/>
<xs:enumeration value="MLFA"/>
<xs:enumeration value="CRDB"/>
<xs:enumeration value="CRCD"/>
<xs:enumeration value="CRFA"/>
<xs:enumeration value="PUDB"/>
<xs:enumeration value="PUCD"/>
<xs:enumeration value="PUFA"/>
<xs:enumeration value="RGDB"/>
<xs:enumeration value="RGCD"/>
<xs:enumeration value="RGFA"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ChequeDeliveryMethod1Choice">
<xs:sequence>
<xs:choice>
<xs:element type="ChequeDelivery1Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ChequeType2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CCHQ"/>
<xs:enumeration value="CCCH"/>
<xs:enumeration value="BCHQ"/>
<xs:enumeration value="DRFT"/>
<xs:enumeration value="ELDR"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ClearingSystemIdentification2Choice">
<xs:sequence>
<xs:choice>
<xs:element type="ExternalClearingSystemIdentification1Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ClearingSystemMemberIdentification2">
<xs:sequence>
<xs:element type="ClearingSystemIdentification2Choice" name="ClrSysId" minOccurs="0"/>
<xs:element type="Max35Text" name="MmbId"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ContactDetails2">
<xs:sequence>
<xs:element type="NamePrefix1Code" name="NmPrfx" minOccurs="0"/>
<xs:element type="Max140Text" name="Nm" minOccurs="0"/>
<xs:element type="PhoneNumber" name="PhneNb" minOccurs="0"/>
<xs:element type="PhoneNumber" name="MobNb" minOccurs="0"/>
<xs:element type="PhoneNumber" name="FaxNb" minOccurs="0"/>
<xs:element type="Max2048Text" name="EmailAdr" minOccurs="0"/>
<xs:element type="Max35Text" name="Othr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CountryCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CreditDebitCode">
<xs:restriction base="xs:string">
<xs:enumeration value="CRDT"/>
<xs:enumeration value="DBIT"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CreditTransferTransactionInformation10">
<xs:sequence>
<xs:element type="PaymentIdentification1" name="PmtId"/>
<xs:element type="PaymentTypeInformation19" name="PmtTpInf" minOccurs="0"/>
<xs:element type="AmountType3Choice" name="Amt"/>
<xs:element type="ExchangeRateInformation1" name="XchgRateInf" minOccurs="0"/>
<xs:element type="ChargeBearerType1Code" name="ChrgBr" minOccurs="0"/>
<xs:element type="Cheque6" name="ChqInstr" minOccurs="0"/>
<xs:element type="PartyIdentification32" name="UltmtDbtr" minOccurs="0"/>
<xs:element type="BranchAndFinancialInstitutionIdentification4" name="IntrmyAgt1" minOccurs="0"/>
<xs:element type="CashAccount16" name="IntrmyAgt1Acct" minOccurs="0"/>
<xs:element type="BranchAndFinancialInstitutionIdentification4" name="IntrmyAgt2" minOccurs="0"/>
<xs:element type="CashAccount16" name="IntrmyAgt2Acct" minOccurs="0"/>
<xs:element type="BranchAndFinancialInstitutionIdentification4" name="IntrmyAgt3" minOccurs="0"/>
<xs:element type="CashAccount16" name="IntrmyAgt3Acct" minOccurs="0"/>
<xs:element type="BranchAndFinancialInstitutionIdentification4" name="CdtrAgt" minOccurs="0"/>
<xs:element type="CashAccount16" name="CdtrAgtAcct" minOccurs="0"/>
<xs:element type="PartyIdentification32" name="Cdtr" minOccurs="0"/>
<xs:element type="CashAccount16" name="CdtrAcct" minOccurs="0"/>
<xs:element type="PartyIdentification32" name="UltmtCdtr" minOccurs="0"/>
<xs:element type="InstructionForCreditorAgent1" name="InstrForCdtrAgt" minOccurs="0" maxOccurs="unbounded"/>
<xs:element type="Max140Text" name="InstrForDbtrAgt" minOccurs="0"/>
<xs:element type="Purpose2Choice" name="Purp" minOccurs="0"/>
<xs:element type="RegulatoryReporting3" name="RgltryRptg" minOccurs="0" maxOccurs="10"/>
<xs:element type="TaxInformation3" name="Tax" minOccurs="0"/>
<xs:element type="RemittanceLocation2" name="RltdRmtInf" minOccurs="0" maxOccurs="10"/>
<xs:element type="RemittanceInformation5" name="RmtInf" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CreditorReferenceInformation2">
<xs:sequence>
<xs:element type="CreditorReferenceType2" name="Tp" minOccurs="0"/>
<xs:element type="Max35Text" name="Ref" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CreditorReferenceType1Choice">
<xs:sequence>
<xs:choice>
<xs:element type="DocumentType3Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CreditorReferenceType2">
<xs:sequence>
<xs:element type="CreditorReferenceType1Choice" name="CdOrPrtry"/>
<xs:element type="Max35Text" name="Issr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerCreditTransferInitiationV03">
<xs:sequence>
<xs:element type="GroupHeader32" name="GrpHdr"/>
<xs:element type="PaymentInstructionInformation3" name="PmtInf" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DateAndPlaceOfBirth">
<xs:sequence>
<xs:element type="ISODate" name="BirthDt"/>
<xs:element type="Max35Text" name="PrvcOfBirth" minOccurs="0"/>
<xs:element type="Max35Text" name="CityOfBirth"/>
<xs:element type="CountryCode" name="CtryOfBirth"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DatePeriodDetails">
<xs:sequence>
<xs:element type="ISODate" name="FrDt"/>
<xs:element type="ISODate" name="ToDt"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DecimalNumber">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="17"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element type="CustomerCreditTransferInitiationV03" name="CstmrCdtTrfInitn"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DocumentAdjustment1">
<xs:sequence>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="Amt"/>
<xs:element type="CreditDebitCode" name="CdtDbtInd" minOccurs="0"/>
<xs:element type="Max4Text" name="Rsn" minOccurs="0"/>
<xs:element type="Max140Text" name="AddtlInf" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="DocumentType3Code">
<xs:restriction base="xs:string">
<xs:enumeration value="RADM"/>
<xs:enumeration value="RPIN"/>
<xs:enumeration value="FXDR"/>
<xs:enumeration value="DISP"/>
<xs:enumeration value="PUOR"/>
<xs:enumeration value="SCOR"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DocumentType5Code">
<xs:restriction base="xs:string">
<xs:enumeration value="MSIN"/>
<xs:enumeration value="CNFA"/>
<xs:enumeration value="DNFA"/>
<xs:enumeration value="CINV"/>
<xs:enumeration value="CREN"/>
<xs:enumeration value="DEBN"/>
<xs:enumeration value="HIRI"/>
<xs:enumeration value="SBIN"/>
<xs:enumeration value="CMCN"/>
<xs:enumeration value="SOAC"/>
<xs:enumeration value="DISP"/>
<xs:enumeration value="BOLD"/>
<xs:enumeration value="VCHR"/>
<xs:enumeration value="AROI"/>
<xs:enumeration value="TSUT"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="EquivalentAmount2">
<xs:sequence>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="Amt"/>
<xs:element type="ActiveOrHistoricCurrencyCode" name="CcyOfTrf"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ExchangeRateInformation1">
<xs:sequence>
<xs:element type="BaseOneRate" name="XchgRate" minOccurs="0"/>
<xs:element type="ExchangeRateType1Code" name="RateTp" minOccurs="0"/>
<xs:element type="Max35Text" name="CtrctId" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ExchangeRateType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="SPOT"/>
<xs:enumeration value="SALE"/>
<xs:enumeration value="AGRD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExternalAccountIdentification1Code">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExternalCategoryPurpose1Code">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExternalClearingSystemIdentification1Code">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="5"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExternalLocalInstrument1Code">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExternalOrganisationIdentification1Code">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExternalPersonIdentification1Code">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExternalPurpose1Code">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ExternalServiceLevel1Code">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="FinancialIdentificationSchemeName1Choice">
<xs:sequence>
<xs:choice>
<xs:element type="ExternalFinancialInstitutionIdentification1Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FinancialInstitutionIdentification7">
<xs:sequence>
<xs:element type="BICIdentifier" name="BIC" minOccurs="0"/>
<xs:element type="ClearingSystemMemberIdentification2" name="ClrSysMmbId" minOccurs="0"/>
<xs:element type="Max140Text" name="Nm" minOccurs="0"/>
<xs:element type="PostalAddress6" name="PstlAdr" minOccurs="0"/>
<xs:element type="GenericFinancialIdentification1" name="Othr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericAccountIdentification1">
<xs:sequence>
<xs:element type="Max34Text" name="Id"/>
<xs:element type="AccountSchemeName1Choice" name="SchmeNm" minOccurs="0"/>
<xs:element type="Max35Text" name="Issr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericFinancialIdentification1">
<xs:sequence>
<xs:element type="Max35Text" name="Id"/>
<xs:element type="FinancialIdentificationSchemeName1Choice" name="SchmeNm" minOccurs="0"/>
<xs:element type="Max35Text" name="Issr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericOrganisationIdentification1">
<xs:sequence>
<xs:element type="Max35Text" name="Id"/>
<xs:element type="OrganisationIdentificationSchemeName1Choice" name="SchmeNm" minOccurs="0"/>
<xs:element type="Max35Text" name="Issr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GenericPersonIdentification1">
<xs:sequence>
<xs:element type="Max35Text" name="Id"/>
<xs:element type="PersonIdentificationSchemeName1Choice" name="SchmeNm" minOccurs="0"/>
<xs:element type="Max35Text" name="Issr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="GroupHeader32">
<xs:sequence>
<xs:element type="Max35Text" name="MsgId"/>
<xs:element type="ISODateTime" name="CreDtTm"/>
<xs:element type="Authorisation1Choice" name="Authstn" minOccurs="0" maxOccurs="2"/>
<xs:element type="Max15NumericText" name="NbOfTxs"/>
<xs:element type="DecimalNumber" name="CtrlSum" minOccurs="0"/>
<xs:element type="PartyIdentification32" name="InitgPty"/>
<xs:element type="BranchAndFinancialInstitutionIdentification4" name="FwdgAgt" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="IBAN2007Identifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="Instruction3Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CHQB"/>
<xs:enumeration value="HOLD"/>
<xs:enumeration value="PHOB"/>
<xs:enumeration value="TELB"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="InstructionForCreditorAgent1">
<xs:sequence>
<xs:element type="Instruction3Code" name="Cd" minOccurs="0"/>
<xs:element type="Max140Text" name="InstrInf" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LocalInstrument2Choice">
<xs:sequence>
<xs:choice>
<xs:element type="ExternalLocalInstrument1Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Max10Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max128Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="128"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max15NumericText">
<xs:restriction base="xs:string">
<xs:pattern value="[0-9]{1,15}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max16Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="16"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max2048Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="2048"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max34Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="34"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max4Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max70Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="70"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="NameAndAddress10">
<xs:sequence>
<xs:element type="Max140Text" name="Nm"/>
<xs:element type="PostalAddress6" name="Adr"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NamePrefix1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="DOCT"/>
<xs:enumeration value="MIST"/>
<xs:enumeration value="MISS"/>
<xs:enumeration value="MADM"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Number">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="0"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="OrganisationIdentification4">
<xs:sequence>
<xs:element type="AnyBICIdentifier" name="BICOrBEI" minOccurs="0"/>
<xs:element type="GenericOrganisationIdentification1" name="Othr" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
<xs:sequence>
<xs:choice>
<xs:element type="ExternalOrganisationIdentification1Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Party6Choice">
<xs:sequence>
<xs:choice>
<xs:element type="OrganisationIdentification4" name="OrgId"/>
<xs:element type="PersonIdentification5" name="PrvtId"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PartyIdentification32">
<xs:sequence>
<xs:element type="Max140Text" name="Nm" minOccurs="0"/>
<xs:element type="PostalAddress6" name="PstlAdr" minOccurs="0"/>
<xs:element type="Party6Choice" name="Id" minOccurs="0"/>
<xs:element type="CountryCode" name="CtryOfRes" minOccurs="0"/>
<xs:element type="ContactDetails2" name="CtctDtls" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentIdentification1">
<xs:sequence>
<xs:element type="Max35Text" name="InstrId" minOccurs="0"/>
<xs:element type="Max35Text" name="EndToEndId"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PaymentInstructionInformation3">
<xs:sequence>
<xs:element type="Max35Text" name="PmtInfId"/>
<xs:element type="PaymentMethod3Code" name="PmtMtd"/>
<xs:element type="BatchBookingIndicator" name="BtchBookg" minOccurs="0"/>
<xs:element type="Max15NumericText" name="NbOfTxs" minOccurs="0"/>
<xs:element type="DecimalNumber" name="CtrlSum" minOccurs="0"/>
<xs:element type="PaymentTypeInformation19" name="PmtTpInf" minOccurs="0"/>
<xs:element type="ISODate" name="ReqdExctnDt"/>
<xs:element type="ISODate" name="PoolgAdjstmntDt" minOccurs="0"/>
<xs:element type="PartyIdentification32" name="Dbtr"/>
<xs:element type="CashAccount16" name="DbtrAcct"/>
<xs:element type="BranchAndFinancialInstitutionIdentification4" name="DbtrAgt"/>
<xs:element type="CashAccount16" name="DbtrAgtAcct" minOccurs="0"/>
<xs:element type="PartyIdentification32" name="UltmtDbtr" minOccurs="0"/>
<xs:element type="ChargeBearerType1Code" name="ChrgBr" minOccurs="0"/>
<xs:element type="CashAccount16" name="ChrgsAcct" minOccurs="0"/>
<xs:element type="BranchAndFinancialInstitutionIdentification4" name="ChrgsAcctAgt" minOccurs="0"/>
<xs:element type="CreditTransferTransactionInformation10" name="CdtTrfTxInf" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PaymentMethod3Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CHK"/>
<xs:enumeration value="TRF"/>
<xs:enumeration value="TRA"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PaymentTypeInformation19">
<xs:sequence>
<xs:element type="Priority2Code" name="InstrPrty" minOccurs="0"/>
<xs:element type="ServiceLevel8Choice" name="SvcLvl" minOccurs="0"/>
<xs:element type="LocalInstrument2Choice" name="LclInstrm" minOccurs="0"/>
<xs:element type="CategoryPurpose1Choice" name="CtgyPurp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PercentageRate">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value="10"/>
<xs:totalDigits value="11"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PersonIdentification5">
<xs:sequence>
<xs:element type="DateAndPlaceOfBirth" name="DtAndPlcOfBirth" minOccurs="0"/>
<xs:element type="GenericPersonIdentification1" name="Othr" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonIdentificationSchemeName1Choice">
<xs:sequence>
<xs:choice>
<xs:element type="ExternalPersonIdentification1Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="PhoneNumber">
<xs:restriction base="xs:string">
<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PostalAddress6">
<xs:sequence>
<xs:element type="AddressType2Code" name="AdrTp" minOccurs="0"/>
<xs:element type="Max70Text" name="Dept" minOccurs="0"/>
<xs:element type="Max70Text" name="SubDept" minOccurs="0"/>
<xs:element type="Max70Text" name="StrtNm" minOccurs="0"/>
<xs:element type="Max16Text" name="BldgNb" minOccurs="0"/>
<xs:element type="Max16Text" name="PstCd" minOccurs="0"/>
<xs:element type="Max35Text" name="TwnNm" minOccurs="0"/>
<xs:element type="Max35Text" name="CtrySubDvsn" minOccurs="0"/>
<xs:element type="CountryCode" name="Ctry" minOccurs="0"/>
<xs:element type="Max70Text" name="AdrLine" minOccurs="0" maxOccurs="7"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="Priority2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="HIGH"/>
<xs:enumeration value="NORM"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Purpose2Choice">
<xs:sequence>
<xs:choice>
<xs:element type="ExternalPurpose1Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReferredDocumentInformation3">
<xs:sequence>
<xs:element type="ReferredDocumentType2" name="Tp" minOccurs="0"/>
<xs:element type="Max35Text" name="Nb" minOccurs="0"/>
<xs:element type="ISODate" name="RltdDt" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReferredDocumentType1Choice">
<xs:sequence>
<xs:choice>
<xs:element type="DocumentType5Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ReferredDocumentType2">
<xs:sequence>
<xs:element type="ReferredDocumentType1Choice" name="CdOrPrtry"/>
<xs:element type="Max35Text" name="Issr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RegulatoryAuthority2">
<xs:sequence>
<xs:element type="Max140Text" name="Nm" minOccurs="0"/>
<xs:element type="CountryCode" name="Ctry" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RegulatoryReporting3">
<xs:sequence>
<xs:element type="RegulatoryReportingType1Code" name="DbtCdtRptgInd" minOccurs="0"/>
<xs:element type="RegulatoryAuthority2" name="Authrty" minOccurs="0"/>
<xs:element type="StructuredRegulatoryReporting3" name="Dtls" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="RegulatoryReportingType1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CRED"/>
<xs:enumeration value="DEBT"/>
<xs:enumeration value="BOTH"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="RemittanceAmount1">
<xs:sequence>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="DuePyblAmt" minOccurs="0"/>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="DscntApldAmt" minOccurs="0"/>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="CdtNoteAmt" minOccurs="0"/>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="TaxAmt" minOccurs="0"/>
<xs:element type="DocumentAdjustment1" name="AdjstmntAmtAndRsn" minOccurs="0" maxOccurs="unbounded"/>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="RmtdAmt" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RemittanceInformation5">
<xs:sequence>
<xs:element type="Max140Text" name="Ustrd" minOccurs="0" maxOccurs="unbounded"/>
<xs:element type="StructuredRemittanceInformation7" name="Strd" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RemittanceLocation2">
<xs:sequence>
<xs:element type="Max35Text" name="RmtId" minOccurs="0"/>
<xs:element type="RemittanceLocationMethod2Code" name="RmtLctnMtd" minOccurs="0"/>
<xs:element type="Max2048Text" name="RmtLctnElctrncAdr" minOccurs="0"/>
<xs:element type="NameAndAddress10" name="RmtLctnPstlAdr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="RemittanceLocationMethod2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="FAXI"/>
<xs:enumeration value="EDIC"/>
<xs:enumeration value="URID"/>
<xs:enumeration value="EMAL"/>
<xs:enumeration value="POST"/>
<xs:enumeration value="SMSM"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ServiceLevel8Choice">
<xs:sequence>
<xs:choice>
<xs:element type="ExternalServiceLevel1Code" name="Cd"/>
<xs:element type="Max35Text" name="Prtry"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StructuredRegulatoryReporting3">
<xs:sequence>
<xs:element type="Max35Text" name="Tp" minOccurs="0"/>
<xs:element type="ISODate" name="Dt" minOccurs="0"/>
<xs:element type="CountryCode" name="Ctry" minOccurs="0"/>
<xs:element type="Max10Text" name="Cd" minOccurs="0"/>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="Amt" minOccurs="0"/>
<xs:element type="Max35Text" name="Inf" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="StructuredRemittanceInformation7">
<xs:sequence>
<xs:element type="ReferredDocumentInformation3" name="RfrdDocInf" minOccurs="0" maxOccurs="unbounded"/>
<xs:element type="RemittanceAmount1" name="RfrdDocAmt" minOccurs="0"/>
<xs:element type="CreditorReferenceInformation2" name="CdtrRefInf" minOccurs="0"/>
<xs:element type="PartyIdentification32" name="Invcr" minOccurs="0"/>
<xs:element type="PartyIdentification32" name="Invcee" minOccurs="0"/>
<xs:element type="Max140Text" name="AddtlRmtInf" minOccurs="0" maxOccurs="3"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxAmount1">
<xs:sequence>
<xs:element type="PercentageRate" name="Rate" minOccurs="0"/>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="TaxblBaseAmt" minOccurs="0"/>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="TtlAmt" minOccurs="0"/>
<xs:element type="TaxRecordDetails1" name="Dtls" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxAuthorisation1">
<xs:sequence>
<xs:element type="Max35Text" name="Titl" minOccurs="0"/>
<xs:element type="Max140Text" name="Nm" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxInformation3">
<xs:sequence>
<xs:element type="TaxParty1" name="Cdtr" minOccurs="0"/>
<xs:element type="TaxParty2" name="Dbtr" minOccurs="0"/>
<xs:element type="Max35Text" name="AdmstnZn" minOccurs="0"/>
<xs:element type="Max140Text" name="RefNb" minOccurs="0"/>
<xs:element type="Max35Text" name="Mtd" minOccurs="0"/>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="TtlTaxblBaseAmt" minOccurs="0"/>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="TtlTaxAmt" minOccurs="0"/>
<xs:element type="ISODate" name="Dt" minOccurs="0"/>
<xs:element type="Number" name="SeqNb" minOccurs="0"/>
<xs:element type="TaxRecord1" name="Rcrd" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxParty1">
<xs:sequence>
<xs:element type="Max35Text" name="TaxId" minOccurs="0"/>
<xs:element type="Max35Text" name="RegnId" minOccurs="0"/>
<xs:element type="Max35Text" name="TaxTp" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxParty2">
<xs:sequence>
<xs:element type="Max35Text" name="TaxId" minOccurs="0"/>
<xs:element type="Max35Text" name="RegnId" minOccurs="0"/>
<xs:element type="Max35Text" name="TaxTp" minOccurs="0"/>
<xs:element type="TaxAuthorisation1" name="Authstn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxPeriod1">
<xs:sequence>
<xs:element type="ISODate" name="Yr" minOccurs="0"/>
<xs:element type="TaxRecordPeriod1Code" name="Tp" minOccurs="0"/>
<xs:element type="DatePeriodDetails" name="FrToDt" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxRecord1">
<xs:sequence>
<xs:element type="Max35Text" name="Tp" minOccurs="0"/>
<xs:element type="Max35Text" name="Ctgy" minOccurs="0"/>
<xs:element type="Max35Text" name="CtgyDtls" minOccurs="0"/>
<xs:element type="Max35Text" name="DbtrSts" minOccurs="0"/>
<xs:element type="Max35Text" name="CertId" minOccurs="0"/>
<xs:element type="Max35Text" name="FrmsCd" minOccurs="0"/>
<xs:element type="TaxPeriod1" name="Prd" minOccurs="0"/>
<xs:element type="TaxAmount1" name="TaxAmt" minOccurs="0"/>
<xs:element type="Max140Text" name="AddtlInf" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TaxRecordDetails1">
<xs:sequence>
<xs:element type="TaxPeriod1" name="Prd" minOccurs="0"/>
<xs:element type="ActiveOrHistoricCurrencyAndAmount" name="Amt"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="TaxRecordPeriod1Code">
<xs:restriction base="xs:string">
<xs:enumeration value="MM01"/>
<xs:enumeration value="MM02"/>
<xs:enumeration value="MM03"/>
<xs:enumeration value="MM04"/>
<xs:enumeration value="MM05"/>
<xs:enumeration value="MM06"/>
<xs:enumeration value="MM07"/>
<xs:enumeration value="MM08"/>
<xs:enumeration value="MM09"/>
<xs:enumeration value="MM10"/>
<xs:enumeration value="MM11"/>
<xs:enumeration value="MM12"/>
<xs:enumeration value="QTR1"/>
<xs:enumeration value="QTR2"/>
<xs:enumeration value="QTR3"/>
<xs:enumeration value="QTR4"/>
<xs:enumeration value="HLF1"/>
<xs:enumeration value="HLF2"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>